# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
*.local

# Variables de entorno — NUNCA subir a GitHub
.env
.env.local
.env.production

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
